
    /* styles.css */
    /* 전체 페이지 스타일링 */
h6 {
    font-size: 10px;
    color: #9a9a9a;
    opacity: 0.7;
    font-family: 'Arial', sans-serif;
    margin: 3px;
    font-weight: 300; /* 글씨체를 얇게 조절하는 속성 */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    height: 100vh; /* 화면 높이에 맞게 설정 */
    overflow-y: auto; /* 스크롤이 필요한 경우 스크롤 표시 */
}


/* 메인 컨테이너 */
.main-container {
    text-align: center;
    margin-top: 15vh;
}

/* 헤더 스타일 */
h1 {
    font-size: 3em;
    color: #333;
    margin-bottom: 20px;
    margin-top: -10px;
}

img {
    margin-right: 20px;
}
/* 폼 스타일 */
form {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom :0;
    margin-bottom: 5px;
    background-color: #DCF8C6;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left:50px;
    margin-right:50px;
}

input[type="text"] {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

header {
    display: flex;
    align-items: center;
    background-color: #4CAF50;
    justify-content: space-between;
    color: white;
    margin-top: -5px;
    top: 0px;
    width: 100%;
    z-index: 1; /* Ensure header is on top of other elements */
}

header img {
    height: 50px;
    width: 50px;
    vertical-align: middle;
}

header h3 {
    color: white;

    display: flex;
    align-items: center;
}

header .nickname {
    font-size: 14px;
    margin-top: 5px;
    color: #fff;
    opacity: 0.7;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 3px 0;

    bottom: 0;
    width: 100%;
}

ul {
    list-style: none;
    padding-left: 0;

}

ul li {
    display: block;
    margin-bottom: 10px;
    clear: both;
}

.message-container {
    clear: both;
    overflow: hidden;
    margin-bottom: 5px;
}

.message {
    display: inline-block;
    max-width: 70%;
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word;
    margin-bottom: 5px;
}

.own-message {
    float: right;
    background-color: #DCF8C6;
}
/* 기존 CSS에 추가될 부분 */

.other-message {
    float: left;
    background-color: #EAEAEA;
}

.sender-nickname {
    font-size: 12px;
    color: #aaa;
    margin-bottom: 3px;
}
.msg {
    /*display: flex;*/
    /*flex-direction: column;*/
    margin-left:50px;
    margin-right:50px;
    /*justify-content: center;*/
    height: 70.8vh; /* 화면 높이에 따라 중앙 정렬 */
    background: #ceeaea;
    padding: 10px;
    margin-top: 5px;
}
#targetLang {
    margin-right: 10px;
}
